.paginationWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.pagination {
  display: flex;
  gap: 4px;
  transform: scale(0.7);
}
.paginationButton {
  align-items: center;
  aspect-ratio: 1/1;
  background: var(--accent-6);
  display: flex;
  justify-content: center;
  min-height: 20px;
  min-width: 20px;
}
.active {
  background: var(--accent-2);
  cursor: unset;
}

.paginationButton:not(:disabled):not(.ellipsis):not(.active):hover {
  background-color: var(--accent-7);
  border-color: 2px solid #f1f1f3;
}

.paginationButton:disabled {
  cursor: unset;
}
