.paginationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pagination {
  display: flex;
  transform: scale(0.7);
  gap: 4px;
}
.paginationButton {
  min-width: 20px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}
.active {
  background: var(--accent-6);
}

.ellipsis {
  /* cursor: unset; */
}
.paginationButton:not(:disabled):not(.ellipsis):hover {
  background-color: #eeeeee;
  border-color: 2px solid #f1f1f3;
}

.paginationButton:disabled {
  cursor: unset;
}
