.authNavButton {
  background-color: var(--gray-1);
  border: 2px solid var(--accent-12);
  color: var(--accent-12);
  font-family: var(--font-fjalla-one);
  font-size: 2rem;
  justify-content: center;
  min-width: 186px;
  padding: var(--space-3);
  text-align: center;
}

.authNavButtonActive {
  color: var(--accent-7);
  background-color: var(--accent-12);
}
