.button {
  align-items: center;
  background-color: var(--accent-12);
  border-radius: 5px;
  border: none;
  color: var(--gray-1);
  cursor: pointer;
  display: flex;
  font: inherit;
  gap: var(--space-2);
  justify-content: center;
  margin: unset;
  padding: var(--space-3);
  width: fit-content;
}

.isWide {
  width: 100%;
}

.isBold {
  font-weight: 700;
}

.alternativeButton {
  background-color: var(--accent-3);
  border: 1px solid var(--accent-5);
  color: var(--accent-9);
}
