.contentWrapper {
  align-items: center;
  background-color: var(--accent-1);
  border-bottom: 2px solid var(--gray-3);
  color: var(--accent-12);
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 100;
}
.contentContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--font-fjalla-one);
  gap: var(--space-3);
  height: 100%;
  justify-content: space-between;
  max-width: var(--content-max-width);
  padding: var(--space-3) var(--space-5);
  width: 100%;
}

.headerTop {
  display: none;
}

.headerTop .logoArea {
  width: 40px;
  height: 40px;
}

.headerBottom {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
  justify-content: space-between;
  width: 100%;
}
.headerLeft {
  display: flex;
  gap: var(--space-4);
}

.logoArea {
  align-items: center;
  display: flex;
  position: relative;
  height: 58px;
  width: 58px;
}
.textLogo {
  font-weight: 700;
}

.headerLogoWrapper {
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .headerTop {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .headerLeft .logoArea {
    display: none;
  }
}
