.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--accent-12);
}
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-3);
  width: 100%;
  height: 100%;
  max-width: var(--content-max-width);
  padding: var(--space-3) var(--space-5);
}
